In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\Users\Saswata Tripathy\Desktop\physician level data.csv")

In [3]:
df.shape

(15998, 15)

In [4]:
df.drop_duplicates(inplace = True)

In [5]:
df.shape

(15994, 15)

In [6]:
df2 = pd.read_csv("C:\\Users\\Saswata Tripathy\\Desktop\\xx.csv")

In [7]:
df2.shape

(13379, 6)

In [8]:
df2.isnull().sum()

Physician ID      0
Physician Name    0
Hospital ID       2
Hospital Name     0
Hospital ZIP      0
Hospital City     0
dtype: int64

In [9]:
df_with_nan = df2[df2.isna().any(axis=1)]

In [10]:
df_with_nan

,Physician ID,Physician Name,Hospital ID,Hospital Name,Hospital ZIP,Hospital City
6734,62758037,Sarah George,NaN,-,-,ALTOONA
8103,96301699,Madiha Gilani,NaN,-,-,ALTOONA

In [11]:
deleted_rows = df_with_nan['Physician ID'].values

In [12]:
deleted_rows

array([62758037, 96301699], dtype=int64)

In [13]:
df_filter = df[~df['Physician ID'].isin(deleted_rows)]

In [14]:
df_filter.shape

(15992, 15)

In [15]:
df_cleaned = df_filter

In [39]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15992 entries, 0 to 15993
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Physician ID    15992 non-null  int64
 1   Physician Name  15992 non-null  object
 2   Specialty       15992 non-null  object
 3   Jan'23 F        15992 non-null  int64
 4   Feb'23 F        15992 non-null  int64
 5   Mar'23 F        15992 non-null  int64
 6   Apr'23 F        15992 non-null  int64
 7   May'23 F        15992 non-null  int64
 8   Jun'23 F        15992 non-null  int64
 9   Jan'23 M        15992 non-null  int64
 10  Feb'23 M        15992 non-null  int64
 11  Mar'23 M        15992 non-null  int64
 12  Apr'23 M        15992 non-null  int64
 13  May'23 M        15992 non-null  int64
 14  Jun'23 M        15992 non-null  int64
dtypes: int64(13), object(2)
memory usage: 2.0+ MB

In [16]:
df_cleaned

,Physician ID,Physician Name,Specialty,Jan'23 F,Feb'23 F,Mar'23 F,Apr'23 F,May'23 F,Jun'23 F,Jan'23 M,Feb'23 M,Mar'23 M,Apr'23 M,May'23 M,Jun'23 M
0,51019201,Rahul Naik,SURGICAL ONCOLOGY,12,13,31,28,28,48,1,24,35,38,47,55
1,61507774,ALBERT PARK,RADIOLOGY ONCOLOGY,12,11,29,25,27,44,12,11,12,15,33,43
2,82693360,ELLICE WONG,RADIOLOGY ONCOLOGY,1,11,33,32,40,39,13,13,11,35,46,38
3,14600351,KANISHKA CHAKRABORTY,HEMATOLOGY/ONCOLOGY,3,19,16,19,31,30,25,10,37,40,37,44
4,28190162,BRENDA SHOO,RADIOLOGY ONCOLOGY,12,16,18,32,35,42,2,14,13,19,42,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15989,77676681,Rajeev Balmiki,"PATHOLOGY, HEMATOLOGY",11,15,16,19,28,37,25,9,22,40,48,37
15990,54257321,GREGORY OTTERSON,RADIOLOGY ONCOLOGY,4,21,28,28,38,50,7,18,14,38,45,43
15991,71747190,MARC LORIAUX,HEMATOLOGY,5,12,20,21,37,41,7,9,33,39,46,42
15992,74951364,YOUNG KWAK,Not Specified,10,13,18,15,26,39,8,6,31,24,35,48
15993,40665907,SANDRA VICTOR,HEMATOLOGY,2,13,32,23,36,40,25,2,34,34,38,45

In [17]:
df2.dropna(inplace = True)

In [18]:
df2

,Physician ID,Physician Name,Hospital ID,Hospital Name,Hospital ZIP,Hospital City
0,51019201,Rahul Naik,AC430,Saint Luke's Cancer Institute,603,AGUADILLA
1,61507774,ALBERT PARK,AC353,Joliet Oncology-Hematology Associates LTD,6040,MANCHESTER
2,82693360,ELLICE WONG,AC186,St. Bernards Cancer Center,45601,CHILLICOTHE
3,14600351,KANISHKA CHAKRABORTY,AC486,Genesis Cancer Care Institute,56401,BRAINERD
4,28190162,BRENDA SHOO,AC957,Houston Methodist Health System,20715,BOWIE
...,...,...,...,...,...,...
13374,71747190,MARC LORIAUX,AC783,NEA Baptist Cancer Center,50010,AMES
13375,40665907,SANDRA VICTOR,AC367,Samaritan Pastega Regional Cancer Center,49508,GRAND RAPIDS
13376,54257321,GREGORY OTTERSON,AC674,Dosik Hematology And Oncology,28207,CHARLOTTE
13377,71747190,MARC LORIAUX,AC783,NEA Baptist Cancer Center,50010,AMES
13378,40665907,SANDRA VICTOR,AC367,Samaritan Pastega Regional Cancer Center,49508,GRAND RAPIDS

In [19]:
df2.value_counts()

Physician ID  Physician Name     Hospital ID  Hospital Name                             Hospital ZIP  Hospital City
40665907      SANDRA VICTOR      AC367        Samaritan Pastega Regional Cancer Center  49508         GRAND RAPIDS     2
54257321      GREGORY OTTERSON   AC674        Dosik Hematology And Oncology             28207         CHARLOTTE        2
71747190      MARC LORIAUX       AC783        NEA Baptist Cancer Center                 50010         AMES             2
69847730      KIMBERLY RIDOLFI   AC324        Baltimore Oncology and Hematology         71111         BOSSIER CITY     1
69769433      JOHN ELLERTON      AC723        Highland Hospital of Rochester            76310         WICHITA FALLS    1
                                                                                                                      ..
39868417      LAURA FREEDMAN     AC695        Swedish Health Services                   95991         YUBA CITY        1
39871583      NIVEDITA ARORA     AC961        Honor Health                              17331         HANOVER          1
39874682      NEIL ADELMAN       AC931        Millennium Oncology Hollywood, FL         4856          ROCKPORT         1
39875702      NORA SADEK         AC740        Northwell Health                          64132         KANSAS CITY      1
99991039      Steven Margossian  AC851        Northwest Oncology And Hematology         21224         BALTIMORE        1
Length: 13374, dtype: int64

In [20]:
df2.drop_duplicates(inplace = True)

In [21]:
df2.shape

(13374, 6)

In [22]:
df2

,Physician ID,Physician Name,Hospital ID,Hospital Name,Hospital ZIP,Hospital City
0,51019201,Rahul Naik,AC430,Saint Luke's Cancer Institute,603,AGUADILLA
1,61507774,ALBERT PARK,AC353,Joliet Oncology-Hematology Associates LTD,6040,MANCHESTER
2,82693360,ELLICE WONG,AC186,St. Bernards Cancer Center,45601,CHILLICOTHE
3,14600351,KANISHKA CHAKRABORTY,AC486,Genesis Cancer Care Institute,56401,BRAINERD
4,28190162,BRENDA SHOO,AC957,Houston Methodist Health System,20715,BOWIE
...,...,...,...,...,...,...
13371,91688023,Amrita Krishnan,AC443,Maine Medical Center,17036,HUMMELSTOWN
13372,77676681,Rajeev Balmiki,AC454,Multicare Mary Bridge Childrens Health Center,77504,PASADENA
13373,54257321,GREGORY OTTERSON,AC674,Dosik Hematology And Oncology,28207,CHARLOTTE
13374,71747190,MARC LORIAUX,AC783,NEA Baptist Cancer Center,50010,AMES
13375,40665907,SANDRA VICTOR,AC367,Samaritan Pastega Regional Cancer Center,49508,GRAND RAPIDS

In [23]:
df2.dtypes

Physician ID       int64
Physician Name    object
Hospital ID       object
Hospital Name     object
Hospital ZIP      object
Hospital City     object
dtype: object

In [24]:
df2['Hospital ZIP'] = df2['Hospital ZIP'].astype('int64')

In [25]:
df2.dtypes

Physician ID       int64
Physician Name    object
Hospital ID       object
Hospital Name     object
Hospital ZIP       int64
Hospital City     object
dtype: object

In [26]:
df2_cleaned = df2

In [40]:
df2_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13374 entries, 0 to 13375
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Physician ID    13374 non-null  int64
 1   Physician Name  13374 non-null  object
 2   Hospital ID     13374 non-null  object
 3   Hospital Name   13374 non-null  object
 4   Hospital ZIP    13374 non-null  int64
 5   Hospital City   13374 non-null  object
dtypes: int64(2), object(4)
memory usage: 731.4+ KB

In [27]:
df2_cleaned

,Physician ID,Physician Name,Hospital ID,Hospital Name,Hospital ZIP,Hospital City
0,51019201,Rahul Naik,AC430,Saint Luke's Cancer Institute,603,AGUADILLA
1,61507774,ALBERT PARK,AC353,Joliet Oncology-Hematology Associates LTD,6040,MANCHESTER
2,82693360,ELLICE WONG,AC186,St. Bernards Cancer Center,45601,CHILLICOTHE
3,14600351,KANISHKA CHAKRABORTY,AC486,Genesis Cancer Care Institute,56401,BRAINERD
4,28190162,BRENDA SHOO,AC957,Houston Methodist Health System,20715,BOWIE
...,...,...,...,...,...,...
13371,91688023,Amrita Krishnan,AC443,Maine Medical Center,17036,HUMMELSTOWN
13372,77676681,Rajeev Balmiki,AC454,Multicare Mary Bridge Childrens Health Center,77504,PASADENA
13373,54257321,GREGORY OTTERSON,AC674,Dosik Hematology And Oncology,28207,CHARLOTTE
13374,71747190,MARC LORIAUX,AC783,NEA Baptist Cancer Center,50010,AMES
13375,40665907,SANDRA VICTOR,AC367,Samaritan Pastega Regional Cancer Center,49508,GRAND RAPIDS

In [28]:
df3 = pd.read_csv("C:\\Users\Saswata Tripathy\Desktop\ztt.csv")

In [29]:
df3

         ZIP         Territory_Name Region_Name
0      30002            Atlanta, GA       South
1      30003            Atlanta, GA       South
2      30004            Atlanta, GA       South
3      30005            Atlanta, GA       South
4      30006            Atlanta, GA       South
...      ...                    ...         ...
42002  96912  Los Angeles South, CA        West
42003  96923  Los Angeles South, CA        West
42004  96931  Los Angeles South, CA        West
42005  96939  Los Angeles South, CA        West
42006  96940  Los Angeles South, CA        West

[42007 rows x 3 columns]

In [30]:
df3.shape

(42007, 3)

In [31]:
df3.columns

Index(['ZIP', 'Territory_Name', 'Region_Name'], dtype='object')

In [32]:
df3.value_counts()

ZIP    Territory_Name   Region_Name
501    Long Island, NY  East           1
64071  Kansas City, KS  South          1
64073  Kansas City, KS  South          1
64074  Kansas City, KS  South          1
64075  Kansas City, KS  South          1
                                      ..
32773  Orlando, FL      South          1
32774  Orlando, FL      South          1
32775  Orlando, FL      South          1
32776  Orlando, FL      South          1
99950  Seattle N, WA    West           1
Length: 42007, dtype: int64

In [33]:
df3.drop_duplicates(inplace = True)

In [34]:
df3_cleaned = df3

In [41]:
df3_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42007 entries, 0 to 42006
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ZIP             42007 non-null  int64
 1   Territory_Name  42007 non-null  object
 2   Region_Name     42007 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [35]:
df3.shape

(42007, 3)

In [36]:
output_file_path_1 = "C:\\Users\Saswata Tripathy\Desktop\Physician_Level_Data.csv"
df_cleaned.to_csv(output_file_path_1, index=False)

In [37]:
output_file_path_2 = "C:\\Users\Saswata Tripathy\Desktop\Affiliation.csv"
df2_cleaned.to_csv(output_file_path_2, index=False)

In [38]:
output_file_path_3 = "C:\\Users\Saswata Tripathy\Desktop\Zip_TT.csv"
df3_cleaned.to_csv(output_file_path_3, index=False)